@model NET104_PH27305_ASSIGNMENT.Models.Product

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Product</h4>
    <hr />
    <div class="row">
        <div class="col-md-6">
            <dl class="row">
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Price)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Price)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.AvailableQuantity)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.AvailableQuantity)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Status)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model=>model.Status)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Supplier)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Supplier)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Description)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Description)
                </dd>
            </dl>
        </div>
        <div class="col-md-6">
            <div>
                <img src="~/Image/@Model.ImageDirection" height="300px" width="300px">
            </div>
            <div> |
                <div enctype="multipart/form-data">
                    @Html.ActionLink("Thêm vào giỏ hàng","Create","Cart", new{ productId = Model.Id})
                </div>
            </div>
        </div>
    </div>
</div>

