@using SellerProduct.Models;

@{
    ViewData["Title"] = "Show";
    List<CartDetail> listCartdetails = ViewBag.listCartDetails;
    List<Product> listProduct = ViewBag.listProduct;
}

<h1>Giỏ hàng</h1>

<div class="content pb-5 bg-white">
    <h3 class="text-uppercase text-center py-4">Giỏ hàng của bạn</h3>

    <table class="table table-hover text-center"
           style="max-width: 1000px; margin: 0 auto;box-shadow: 0px 0px 30px rgba(187,51,255,1); color: unset; table-layout: fixed; vertical-align: middle;">
        <thead class="fs-6">
            <tr>
                <th>STT</th>
                <th colspan="3">Sản phẩm</th>
                <th>Giá tiền</th>
                <th>Số lượng</th>
                <th>Thành tiền</th>
                <th colspan="2"></th>
            </tr>
        </thead>
        <tbody>
            @{
                var index = 0;
            }
            @foreach (var productInCart in listCartdetails)
            {
                <tr>
                    <th>@(index + 1)</th>
                    <td colspan="3">
                        <div class="row p-0 m-0">
                            <div class="col-6">
                                <img class="p-2"
                                     src="@listProduct.FirstOrDefault(c=>c.Id == productInCart.ProductId).ImageDirection"
                                     alt="product" style="object-fit: cover; max-width: 100%;height: auto;">
                            </div>
                            <div class="col-6 py-4">
                                <p class="text-start" style="text-overflow: ellipsis;">@listProduct.FirstOrDefault(c=>c.Id == productInCart.ProductId).Name</p>
                            </div>
                        </div>
                    </td>
                    <td>@listProduct.FirstOrDefault(c=>c.Id == productInCart.ProductId).Price</td>
                    <td>@productInCart.Quantity</td>
                    <td><b>@(listProduct.FirstOrDefault(c => c.Id == productInCart.ProductId).Price * productInCart.Quantity)</b></td>
                    <td colspan="2">
                        <div class="btn btn-product">
                            @Html.ActionLink("Xóa",
                        "Delete",  // <-- Controller Name.
                        "Cart",   // <-- ActionMethod
                        new {idProduct = @productInCart.ProductId, idUser = Guid.Parse("00000000-0000-0000-0000-000000000000") },
                        null
                        )
                        </div>
                    </td>
                </tr>
            }
            <tr>
                <th class="text-uppercase fs-5" colspan="6">
                    Tổng thành tiền (@listCartdetails.Count())
                </th>
                <td class="fs-6"><b>1.995.000 đ</b></td>
                <td colspan="2"><button type="button" class="btn btn">Mua hàng</button></td>
            </tr>
        </tbody>
    </table>

</div>
